*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

.box {
    display: flex;
    width: 300px;
    color: white;
}

.box div {
    width: 300px;
    background-color: green;
    font-size: 50px;

}

.box div:first-child{
    background-color: yellow;
}

.box div:last-child{
    background-color: yellow;
}

.box div:nth-child(2){
    background-color: brown;
}


.box{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}